<section id="panier-items" class="orders-section">
  <div class="container text-center mt-5 py-5">
    <img src="https://tse4.mm.bing.net/th?id=OIP.TZB7xx-eSpjQcjX3tfUYSwHaHa&pid=Api&P=0&h=180" style="height: 140px;" alt="Cart Icon">    <hr class="mx-auto">
    <h2 class="mt-3">My Orders</h2>
    <p class="order-welcome">
      <img src="https://tse1.mm.bing.net/th?id=OIP.RYwKPeMKqUiHa5B7emHvYQHaHa&pid=Api&P=0&h=180" style="height: 30px;" alt="Welcome Icon">
      Welcome to your orders. Here is a summary of all your recent purchases.
    </p>


  </div>
</section>
