.orders-section {
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 2rem 1rem;
  }
  
  .order-icon {
    height: 80px;
  }
  
  .order-welcome {
    font-size: 1.1rem;
    color: #555;
  }
  
  h2 {
    font-weight: bold;
    color: #333;
  }
  